/* Universal Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    color: rgb(233, 215, 179);
}

html {
    scroll-behavior: smooth;
    cursor: crosshair;
}

body {
    background-color: rgb(29, 26, 52);
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: clamp(2.4rem, 9vw, 15rem);
}

h2 {
    font-size: clamp(1rem, 4vw, 7rem);
    font-weight: 400;
}

h3 {
    font-size: clamp(0.8rem, 1.7vw, 3rem);
    font-weight: 300;
}

h4 {
    font-size: clamp(2rem, 2vw, 4rem);
    font-weight: 400;
}

h5 {
    font-size: 1rem;
}

p {
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.width {
    width: 77%;
}

@media only screen and (max-width: 630px) {
    .width {
        width: 90%;
    }
}

@media only screen and (min-width: 631px) and (max-width: 950px) {
    .width {
        width: 68%;
    }
}

/* Nav Bar */
.nav-container {
    width: 100vw;
    display: grid;
    align-items: flex-start; 
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
    height: 0;
    overflow-y: visible;
    
}

.logo {
    font-size: 4rem;
    font-weight: 800;
}

.logo-link {
    text-decoration: none;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    font-size: 1.5rem;
}

.button-1 {
    border: 2px solid rgb(233, 215, 179);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;
    transition: 0.5s;
}

.nav-button {
    position: relative;
    top: 20px;
    margin-top: 30px;
}

.nav-links a {
    list-style-type: none;
    text-transform: lowercase;
    transition: 0.5s;
}

.nav-links a:not(:last-child) {
    margin-right: 5px;
}

.nav-links a:link {
    text-decoration: none;
}
.nav-links a:visited {
    color: unset;
}

.nav-links:hover a {
    opacity: 0.3;
}

.nav-links:hover a:hover {
    transform: translate(-10px, 0);
    opacity: 1;
}

.nav-links:hover .button-1 {
    opacity: 1;
}

.button-1:hover {
    background-color: rgb(76, 72, 97);
}

@media only screen and (max-width: 630px) {
    .navbar {
        background-color: rgb(29, 26, 52);
        height: 52px;
        overflow-y: unset;
    }
    .nav-links {
        flex-direction: row;
    }
    .nav-links, .button-1 {
        font-size: 0.8rem;
    }
    .button-1 {
        padding: 0.3rem 0.8rem;
    }
    .nav-button {
        top: 0px;
    }
    .nav-links a:not(:last-child) {
        margin-right: 10px;
    }
    .nav-links:hover a:hover {
        transform: unset;
    }
}

@media only screen and (max-width: 850px) {
    .navbar {
        padding: 5px 10px 0 10px;
    }
    .logo {
        font-size: 2rem;
    }
    .nav-links, .button-1 {
        font-size: 1rem;
    }
    .nav-links {
        margin-top: 12px;
    }
}

@media only screen and (min-width: 631px) and (max-width: 1200px) {
    .navbar {
        padding: 0 20px;
    }
    .logo {
        font-size: 3rem;
    }
    .nav-links, .button-1 {
        font-size: 1rem;
    }
    .nav-links {
        margin-top: 20px;
    }
}

/* Fixed Social Sidebar (Left) */
.sidebar-left {
    position: fixed;
    bottom: 20px;
    left: 60px;
    z-index: 99;
    background-color: rgb(29, 26, 52);
    padding: 0 10px;
    border-radius: 25px;
}

.social-sidebar li {
    list-style: none;

}

.social-sidebar svg {
    width: 20px;
    fill: rgb(233, 215, 179);
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.5s;
}

.social-sidebar:hover svg:hover {
    transform: translate(0, -5px);
    opacity: 1;
    fill: rgb(255, 132, 0);
}

.social-sidebar:hover svg {
    opacity: 0.3;
}

@media only screen and (max-width: 630px) {
    .sidebar-left {
        padding: 3px 0;
        bottom: 10px;
        left: calc(50% - 90px); 
    }
    .social-sidebar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .social-sidebar svg {
        margin: 0 20px;
    }
    .social-sidebar:hover svg:hover {
        transform: unset;
    }
}

@media only screen and (min-width: 631px) and (max-width: 1200px) {
    .sidebar-left {
        left: 40px;
    }
}

/* Hero Section */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    position: relative;
}

.tag-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag-2 {
    color: rgb(29, 26, 52);
    transition: 2s;
}

.tag-box:hover .tag-2 {
    color: rgb(255, 132, 0);
    transition: 0.5s;
}

.down-arrow-box {
    position: absolute;
    bottom: 93px;
}

/* About Section */
#About {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.about-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-block p {
    font-size: clamp(1rem, 4vw, 7rem);
    font-weight: 500;
    letter-spacing: unset;
}

.about-block span {
    color: rgb(255, 132, 0);
}

/* Skills Section */
#Skills {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.skills {
    margin-bottom: 30px;
    padding: 30px 0px;
    border-top: 2px solid rgb(233, 215, 179);
    border-bottom: 2px solid rgb(233, 215, 179);
}

.skills-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 2vw;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item svg {
    width: 100px;
    fill: rgb(233, 215, 179);
    transition: 0.5s;
}

.skill-item h5 {
    color: rgb(29, 26, 52);
    transition: 0.5s;
}

.skill-item:hover h5 {
    color: rgb(233, 215, 179);
    transform: translate(0, -43px);
}

.skill-item:hover svg {
    opacity: 0.1;
}

@media only screen and (max-width:630px) {
    .skills {
        padding-top: 50px;
    }
    .skill-item h5 {
        color: rgb(233, 215, 179);
        font-weight: 200;
        transition: unset;
    }
    .skill-item:hover h5 {
        transform: unset;
    }
    
    .skill-item:hover svg {
        opacity: unset;
    }
}

@media only screen and (min-width:631px) and (max-width: 1200px) {
    .skills {
        padding-top: 20px;
    }
}

/* Projects Section */
.projects-heading {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.projects-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.projects-item {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    margin-bottom: 100px;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.projects-img {
    width: 50%;
    overflow-y: scroll;
    aspect-ratio: 16 / 9;
    transition: 0.5s;
    opacity: 0.7;
}

.projects-img img {
    width: 100%;
}

.left {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translate(-50px, 0);
}

.right {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transform: translate(50px, 0);
}

.projects-text-block {
    width: 45%;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-textbox {
    width: 70%;
    text-align: left;
}


.projects-textbox ul {
    padding-left: 40px;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.projects-links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}

.projects-links svg {
    transition: 0.5s;
}

.program-box {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 20px;
}

.program  {
    opacity: 0.4;
}


.projects-img:hover {
    opacity: 1;
    transform: translate(0, 0);
}

.projects-textbox a svg:hover {
    transform: translate(0, -5px);
}

@media only screen and (max-width: 620px) {
    .projects-heading {
        padding-top: 50px;
    }
    .projects-item {
        flex-direction: column-reverse;
    }
    .projects-img {
        aspect-ratio: 16/9;
        width: 300px;
        height: auto;
    }
    .right {
        align-self: flex-end;
    }
    .projects-text-block {
        width: 100%;
    }
    .projects-textbox {
        width: 90%;
    }
    .projects-links {
        align-items: center;
    }
    .projects-links a {
        padding-bottom: 3px;
        border-bottom: 2px solid rgb(233, 215, 179);
    }
    .projects-links svg {
        transition: unset;
    }
    .projects-textbox a svg:hover {
        transform: unset;
    }
}

@media only screen and (min-width: 631px) and (max-width: 768px) {
    .projects-img {
        aspect-ratio: 9/16;
    }
    .projects-text-block {
        width: 50%;
    }
    .projects-textbox {
        width: 90%;
    }
}

@media only screen and (min-width:631px) and (max-width: 1200px) {
    .projects-heading {
        padding-top: 20px;
    }
}

/* Let's Work Together Section */
#main-contact {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 0;
    border-top: 2px solid rgb(233, 215, 179);
    overflow-y: hidden;
}

.main-contact-block {
    display: flex;
    flex-direction: column;
    width: 77%;
    justify-content: center;
    align-items: center;
    padding: 40px 250px;
    border: 2px solid rgb(233, 215, 179);
    border-bottom: unset;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    transform: translate(0, 30px);
    
}

.main-contact-block p {
    font-size: clamp(1rem, 2.23vw, 4rem);
    text-align: center;
    margin-top: 30px;
}

.main-contact-block:hover {
    transform: translate(0, 0);
}

@media only screen and (max-width: 630px) {
    .main-contact-block {
        width: 80%;
        padding: 40px 20px 100px 20px;
    }
}

@media only screen and (min-width: 631px) and (max-width: 768px) {
    .main-contact-block {
        width: 68%;
        padding: 40px;
    }
}

/* Contact Section */
#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    margin: unset;
}
    
.contact-form-block h2 {
    align-self: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42%;
    margin-top: 30px;
}

.contact-form input,textarea {
    background-color: rgb(29, 26, 52);
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
    border: 2px solid rgb(233, 215, 179);
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}

.contact-form textarea {
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

.contact-form input:focus, select:focus, textarea:focus {
    border-color: rgb(255, 132, 0);
}

.contact-form input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    align-self: center;
    height: 50px;
    cursor: pointer;
}

.contact-submit {
    transition: 0.5s;
}

.contact-submit:hover {
    background-color: rgb(76, 72, 97);
    transition: 0.5s;
}

@media only screen and (max-width: 425px) {
    .contact-form {
        width: 70%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .contact-form {
        width: 60%;
    }
}